           * {
               font-family: Georgia, 'Times New Roman', Times, serif;
           }
         body{
             margin: 0 auto;
             background-color: #313131;
             max-width: 1200px; 
         }
         .header__logo{
             margin-right: 130px;
         }
           .logo {
               font-size: 32px;
               color: #666666;
               margin: 0 auto; 
               padding-top: 25px;
           }
           
           .logo2 {
               color: #999999;
               font-size: 12px;
               width:155px;
           }
           .nav_menu{
               display: flex;
           }
           .header_logo {
            position: relative;
            padding-top: 25px;
         margin-right: 0 25px;

        }
          
        .wrapper {
            margin: auto;
            width: 50%;
            float: right;
            margin-top: 0;
        }
           
        .nav-border {
               font-size: 22px;
               color: #666666;
               justify-content: center;
               margin:0 auto;
               padding-top: 50px;
               text-align: center;
               padding-bottom: 45px;
               position: relative;
           }
           .container{
            margin:0 auto;
            width: 920px;
            background-color: white;
            padding: 0 20px;
            margin-bottom: 0;
            padding-bottom: 0;

        }
        .top_border{
            background-color:#a7c353;
            margin:0 auto;
            height:5px;
            position: relative;
            width: 960px;
            right: 20px;
        }
           
           .nav {
               font-size: 13px;
               color: #979797;
               margin: 0 auto;
               display: flex;
               justify-content: center;
           }
           
           a {
               color: #999999;
               position: relative;
           }
           
           .nav_link {
               text-decoration: none;
               padding: 52px 18px 20px;
               
           }
           
           .nav_link:hover {
            background-color:#a7c353;
            color:white;
           }
           .bottom_border{
               height:1px;
               width: 920px;
               background-color: #a7c353;
           }
          .container2{
              position: relative;
              display: flex;
              justify-content: center;
          }
          .nature_img{
              width:920px;
              height:350px;
          }
          .img{
              position: absolute;
              top:15%;
              left:50%;
              transform:translate(-50%,-50%);
              padding-top: 165px;
              color:white;
          }
          .icon {
            display: none;
            color: #fcac45;
            font-size: 25px;
            top: 25px;
            right:25%;
            position: fixed;
            text-decoration: none;
        }

        
          .relative{
              position:relative;
          }
          .slider_title {
            position: absolute;
            top:209px;
            right:62px;;
            background-color:  #a7c353;
            width: 350px;
            height: 40px;
          }
            .slider_title1{
                margin-top:5px;
                color: white !important;
                text-align: center;
                font-size: 22px;
                
            }
          .slider_text{
            position: absolute;
            top:258px;
            right:62px;
            background-color:  white;
            width: 350px;
            height: 66px;
          }
          .slider_text1{
            font-size: 13px;
            line-height: 16px;
            color: #999999;
            padding-left: 10px;
          }
            .border{
                position: absolute;
                top:45%;
                left:40px;
                transform: translate(-50%,-50%);
                cursor:pointer;
            }
            .border2{
                position: absolute;
                top:45%;
                right:-16px;
                transform: translate(-50%,-50%);
                cursor:pointer; 
            }
           
            input[type='radio']:after {
                width: 7px;
                height: 7px;
                border-radius: 7px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: #a7c353;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 4px solid #a7c353;
                cursor: pointer;
            }
            input[type='radio']:checked:after {
                width: 7px;
                height: 7px;
                border-radius: 7px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: #ffffff;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 4px solid #a7c353;
            }
            .radiobut{
                margin-top: 20px;
                align-items:center;
                display: flex;
                justify-content: center;
            }
.bot_border{
    border:0.5px solid rgb(226,226,226);;
    margin-top: 39px;
}
.content_title{
    font-size: 22px;
    color: #666666;
    line-height: 26px;
}
.block_about{
    width:270px;
}
.about_us{
    display: flex;
    justify-content: space-between;
}
.forest_img{
    height:140px;
    width:270px;
}
.liitle_about_text{
    color: #999999;
    margin-bottom: 23px;
    margin-top: 25px;
    font-size: 13px;
}
.liitle_about_text_child{
    color: #999999;  
    margin:0;
    font-size: 13px;
    padding-bottom: 15px;
}
.read_more{
    padding-top: 18px;
    display: flex;
    justify-content: flex-end;
    color: #a7c353;
    font-size: 13px;
    text-decoration: none;
}
.infoallservices_more{
    margin-top: -9px;
    display: flex;
    justify-content: flex-end;
    color: #a7c353;
    font-size: 13px;
    text-decoration: none;
}
.img2{
    position:absolute;
    top:800px;
    left:45px;
    color:white;
}
/* second columns what clients say */
.icon_img{
    width:64px;
    height:64px;
}
.image_block{
    display: flex;
}
.textsubblock{
    padding-left: 18px;
}
.service_title{
font-size: 14px;
line-height: 17px;
color: #878787;
margin: 3px 0 5px;
}
.servicesub_title{
height: 48px;
font-size: 13px;
line-height: 18px;
color: #868686;
margin: 0;
padding: 0px 0 3px 0;
}
/* third columns what clients say */
.name_reviews{
display: flex;
margin-top: -10px;
}
.name_reviews p{
    font-size: 16px;
    color: #989898;
    line-height: 19px;
    padding-left: 10px;
   
}
.text_reviews{
    height: 103px;
    font-size: 13px;
    line-height: 18px;
    color: #888888;
    padding-left: 7px;
}
/* black container about company  */

.container_company_contact{
    background-color: #313131;
    max-width       : 960px;
    padding         : 0 20px;
    margin          : 0 auto;
}
.footer_section{
    display: flex;
}
.footer_section{
    margin-top: 40px;
}
.company_details h1{
font-size: 16px;
line-height: 19px;
color: #ffffff;
padding-bottom: 15px;
}
.company_details:nth-child(2),
.company_details:nth-child(3),
.company_details:nth-child(4){
    margin-left: 20px;
}
.underline{
    height:1px;
    width:225px;
    background-color:#3a3a3a;
}
.footer_text{
font-size: 12px;
line-height: 19px;
color: #999999;
padding-top: 21px;
text-decoration: none;
margin:0;
}
.footer_text span{
font-size: 12px;
line-height: 19px;
color: #a7c353;
}
.footer_text a{
    text-decoration: none;
}
/* 2 black container about social contact  */
.social_contact{
    display: flex;
    padding: 16px 0 5px 0;
}
.social_contact a{
font-size: 12px;
line-height: 14px;
color: #a7c353;
text-decoration: none;
padding-left: 11px;
}
.social_contact img{
    width:32px;
    height:32px;
}
/* 3 black container about blog */
.footer_abot_blog{
font-size: 12px;
line-height: 19px;
color: #999999;
padding-top: 12px;
text-decoration: none;
margin:0;
}
.links_continue{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    color: #a7c353;
    font-size: 13px;
    text-decoration: none;
}
/* 4 black container */

.input_name,
.email{
    width:100%;
    box-sizing: border-box;
    border:none;
    color:#989898;
    padding:10px 0 11px;
    outline:none;
    background: #383838;
    border-radius: 4px;
    margin-bottom: 10px;
}
.input_name{
    margin-top: 19px;
}
.form textarea{
    display: block;
    width:100%;
    box-sizing: border-box;
    border:none;
    color:#989898;
    padding:11px 0 47px;
    outline:none;
    background: #383838;
    border-radius: 4px;  
    margin-bottom: 10px;  
    resize: none;
}
.btn{
width:80px;
padding:11px 0 11px;
color:#313131;
font-size: 13px;
line-height: 21px;
border-radius: 4px #667240, #494e38, #8ea44c;
border: none;
background-color: #a7c353;
}
.btn:hover{
    cursor: pointer;
}
/*  copyright*/
.footer_border{
    height:1px;
    width:960px;
    background-color:#3a3a3a;   
}
.copy_text{
font-size: 12px;
line-height: 12px;
color: #999999;
text-align: left;
margin-top: 21px;
}
.copy_text span{
    text-align: right;  
    margin-left: 54%;
}
@media screen and (max-width:970px) {
.nature_img{
    width: 600px;
}
.slider_title{
    right:201px;
}
.slider_text{
    right: 201px;
}
.border{
    left: 103px;
}
.border2{
    right: 63px;
}
.nav-border{
    font-size: 18px;
}
.header__logo{
    margin-right: 15px;
}
.nav_menu{
    width: 90%;
}
.nav_link{
    padding: 52px 5px 20px;
    font-size: 12px;
}
.forest_img {
    width:200px;
}
.about_us{
    width: 90%;
}
.infoallservices_more {
    margin-top: 22px;
}
.container_company_contact{
    max-width: 78%;
}
.underline{
    width:166px;
}
.read_more{
    padding-top: 10px;
}
.footer_abot_blog{
    padding-top: 8px;
}
.form textarea{
    height:200px;
}
.copy_text span{
    margin-left: 29%;
}
.container{
    width:700px;
}
.bottom_border{
    width: 684px;
}
.top_border{
    width:720px;
}
.block_about{
    width:202px;
}
.content_title{
    font-size: 18px;
}
.company_details{
    width:66%;
}
.footer_border{
    width:700px;
}
}
@media screen and (max-width:775px) {
.container{
    width: 500px;
}
.nav-border{
    font-size: 13px;
}
.logo{
    font-size: 20px;
}
.nav_link{
    padding: 37px 3px 20px;
}
.nature_img{
    width:500px;
}
.slider_title{
    width:200px;
}
.slider_title1{
    font-size: 14px;
}

.slider_text{
    width: 200px;
}
.slider_text1{
    font-size: 9px;
}
.border{
    left: 9%;
}
.border2{
    right: 0%;
}
.top_border{
    width: 540px;
}
.bottom_border{
    width:500px;
}
nav{
    width:84%;
}
.logo2{
    width: 139px;
}
.forest_img{
    width:270px;
    height:140px;
}
.content_title{
    font-size: 15px;
}
.name_reviews img{
    width:50px;
    height:50px;
}
.about_us{
    flex-direction: column;
}
.maintext{
    width:270px;
}
.servicesub_title{
    width:187px;
}
.infoallservices_more{
    margin-top: 44px;
}
.company_details:nth-child(2), .company_details:nth-child(3), .company_details:nth-child(4) {
    margin-left: 10px;
}
.container_company_contact {
    max-width: 500px;
}
.underline {
    width: 118px;
}
.company_details h1{
    font-size: 12px;
}
.copy_text span {
    margin-left: 13%;
}
.footer_border{
    width:500px;
}
}
@media screen and (max-width:560px) {
    .icon {
        display: inline-block;
    }
    .nav{
        display: flex;
    }
    .container{
        width: 300px;
    }
    .header__logo {
        margin-right: 5px;
    }
    .nav{
        display: none;
    }
.nature_img{
    width: 200px;
    height: 200px;
}
.top_border{
    width:300px;
}
.bottom_border{
    width:300px; 
}
.border2 {
    right: 8%;
}
.border {
    left: 27%;
}
.slider_title{
    width:200px;
    right: 50px;
    top: 115px;
}
.slider_title1 {
    font-size: 10px;
}
.slider_text{
    width:200px;
    right: 50px;
    top: 152px;
    height: 43px;
}
.slider_text1{
    font-size: 9px;
    line-height: 9px;
}
.container_company_contact{
    width:300px;

}
.footer_section{
    flex-direction: column;
    align-items: center;
}
.company_details h1{
    font-size: 15px;
    padding-top: 20px;
}
.footer_section{
    width:none;
}

.responsive a {
    display: block;
    top: 1px;
    right: 20px;
    color: black;
    padding: 12px 0;
    font-size: 14px;
    font-weight: bold;
}
.responsive .nav_menu{
    display: block;
    flex-direction: column;
}
.responsive a.icon {
    position: absolute;
    top: 1px;
    right: 20px;
    float: none;
    display: block;
    text-align: right;
}
.nav_menu.responsive{
    height: 340px;
}
.footer_border{
    width:300px;
}
}
